<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/weekday.css">
    <title>Schedule</title>
</head>

<body>
    <div id="schedule">
        <div class="heading">
            <h1>
                <div class="time">
                    <%= Time %>
                </div>
                <div class="date">
                    <%= Date %>
                </div>
                <div class="day">Day: <%= Day %>
                </div>
            </h1>
        </div>
        <div class="course-info">
            <div class="course-number">Number: <%= CourseNum %>
            </div>
            <div class="course-name">Course: <%= CourseName %>
            </div>
            <div class="course-credits">Credits: <%= credits %>
            </div>
            <div class="course-details">
                <div class="course-location">Location: <%= location %>
                </div>
                <div class="prof-name">Professor: <%= ProfName %>
                </div>
                <div class="prof-image">
                    <img src="<%= ProfImage %>" alt="<%= ProfName %>'s Profile Picture">
                </div>
            </div>
        </div>
        <div class="next-course">
            <div class="next-course-name">Next Course: <%= nextCourse %>
            </div>
            <div class="next-course-time">Next Class at: <%= nextTime %>
            </div>
            <div class="next-course-location">Next Venue: <%= nextVenue %>
            </div>
        </div>
        <div class="navigation">
            <a href="/todos">Go to To-Do List</a> <!-- Link to To-Do app -->
        </div>
    </div>
</body>

</html>